# --------------------------------------------------
# Python
# --------------------------------------------------

__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# --------------------------------------------------
# IDE
# --------------------------------------------------

.vscode/
.idea/

# --------------------------------------------------
# Streamlit
# --------------------------------------------------

.streamlit/secrets.toml

# --------------------------------------------------
# Build / Distribution
# --------------------------------------------------

build/
dist/
*.egg-info/

# --------------------------------------------------
# Logs
# --------------------------------------------------

*.log

# --------------------------------------------------
# Testing
# --------------------------------------------------

.pytest_cache/
.coverage
htmlcov/

# --------------------------------------------------
# OS Files
# --------------------------------------------------

.DS_Store
Thumbs.db

# --------------------------------------------------
# Generated Outputs
# --------------------------------------------------

outputs/*.pdf
outputs/*.txt
outputs/*.png

# Keep folder structure
!outputs/.gitkeep

# --------------------------------------------------
# Environment Variables
# --------------------------------------------------

.env

# --------------------------------------------------
# Jupyter
# --------------------------------------------------

.ipynb_checkpoints/

# --------------------------------------------------
# Temporary Files
# --------------------------------------------------

*.tmp
*.bak